In [0]:
user_id|activity_date|year_month|
+-------+-------------+----------+
|   1|  2025-08-05|  2025-08| 2025-08-01 2025-09-01
|   1|  2025-09-10|  2025-09|
|   2|  2025-08-15|  2025-08|
|   3|  2025-09-01|  2025-09|
|   2|  2025-09-20|  2025-09|
|   3|  2025-10-05|  2025-10|
|   4|  2025-09-12|  2025-09|
|   4|  2025-10-02|  2025-10|
|   5|  2025-10-02|  2025-10|
|   5|  2025-12-10|  2025-12|
+-------+-------------+----------+


from pyspark.sql.functions import *
from pyspark.sql.window import *

df=spark.read.csv("/Volumes/pyspark_classes/fintec_dev/22-10-2025/activity_df.csv",
header=True,inferSchema=True)

#df.orderBy(col("user_id").desc(),col("activity_date").desc()).show()


=======================================================

df=df.withColumn("a_d",to_date("activity_date",'yyyy-MM-dd')).\
  withColumn("month_start",to_date(concat(date_format(col("a_d"),"yyyy-MM"),lit("-01"))))

This does 2 things:

Converts the text column activity_date → proper date format and stores it as a_d.

Extracts the first day of that month (e.g., 2025-09-10 → 2025-09-01) and stores it as month_start.

| user_id | activity_date | a_d    | month_start |
| ------- | ------------- | ---------- | ----------- |
| 1    | 2025-09-10  | 2025-09-10 | 2025-09-01 |
| 2    | 2025-08-25  | 2025-08-25 | 2025-08-01 |

====================================================================================================

df_pre_month=df.select("user_id",add_months(col('month_start'),1).alias('month_start1')).distinct()


For each user, it creates a record where month_start1 = month_start + 1 month.
(e.g., if user was active in August → month_start1 = September 1st)

✅ Example:

user_id	month_start1
1	2025-09-01
2	2025-09-01
3	2025-10-01

So now, we can later check — if a user active in August was also active in September.

=====================================================================================


jd=df_pre_month.alias('a').join(df.alias('b'),(col('a.user_id')==col('b.user_id')) 
& (col('a.month_start1')==col('b.month_start')) ,'left')



(col('a.user_id') == col('b.user_id'))

➡️ Same user.

(col('a.month_start1') == col('b.month_start'))
 1|  2025-08-05|  2025-08| 2025-08-01 2025-09-01

➡️ Check if their next month (from a) matches a month where they were actually active (from b).

So basically:

“For each user who was active in month M,
did we find an activity record for month M + 1?”

⚙️ Example of how the join works
a.user_id	a.month_start1	b.user_id	b.month_start	Matched?
1	2025-09-01	1	2025-09-01	✅ Yes → returned
1	2025-10-01	1	2025-09-01	❌ No
2	2025-09-01	2	2025-09-01	✅ Yes → returned
2	2025-10-01	2	2025-09-01	❌ No
3	2025-10-01	3	2025-10-01	✅ Yes → returned

🧮 After join:

You now have something like:

a.user_id	a.month_start1	b.user_id	b.month_start
1	2025-09-01	1	2025-09-01
2	2025-09-01	2	2025-09-01
3	2025-10-01	3	2025-10-01

Now you can:

Count all users in column a.user_id → total active in previous month.

Count all users in b.user_id (non-null) → how many returned this month.

🧠 Why LEFT JOIN?

Because we want to keep all previous month users (a) —
even if they didn’t come back in the next month.

If a user didn’t return, b.user_id will be NULL.
That helps when we count returning users (non-null ones only).


So after this join, you can easily calculate:

Active users (total from previous month)

Returning users (those who matched next month)

And then retention % = returning / active × 100


=======================================================================
.groupBy("a.month_start1").agg(count("a.user_id").alias("active_user"),count("b.user_id")
.alias("return_user"))

For each month:

active_user: how many users were active in the previous month.

return_user: how many of them came back in this month (found in the join).


==================================================================
.withColumn("per",(col("return_user")/col("active_user"))*100)
.withColumn("month",date_format(col("a.month_start1"),"MMM-yyyy")).select('month','per')


per: calculates retention rate → (returning / total active) × 100

Formats month like Sep-2025 or Oct-2025

✅ Final output:

month	per
Sep-2025	100.0
Oct-2025  50.

------------------------------------------------------
Priyanka
Unverified
11:58 AM
SELECT 
    emp_id,
    COUNT(*) AS days
FROM grouped
GROUP BY emp_id, grp_key
HAVING COUNT(*) >= 10
ORDER BY emp_id;

In [0]:
AB
Unverified
12:38 PM
from pyspark.sql.functions import *
from pyspark.sql.window import *

df=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/Volumes/pyspark_classes/fintec_dev/22-10-2025/employee_leaves_1.csv")

windowSpec = Window.partitionBy("emp_id").orderBy("leave_date")

df_row=df.withColumn("rn",row_number().over(windowSpec))
#df_row.show()

to group to identiy consecutive days
df_row1=df_row.withColumn("group",date_add(col("leave_date"),-col("rn"))).
    groupBy("emp_id","group").agg(count("*").alias("con_leave_days")).
    select("emp_id","con_leave_days").filter(col("con_leave_days")>=10)
#df_row1=df_row.withColumn("group",date_sub(col("leave_date"),col("rn")))

df_row1.show()

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.window import *

df=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/Volumes/pyspark_classes/fintec_dev/22-10-2025/employee_leaves_1.csv")
df.createOrReplaceTempView("df_tbl")
df1=spark.sql("""
Select
  emp_id,
  leave_date,
  dateadd(day, -rn, leave_date) as group
from
  (
    Select
      *,
      row_number() over (partition by emp_id order by leave_date) as rn
    from
      df_tbl
  ) """)
df1.createOrReplaceTempView("df_tbl1")  
df1.display()
%sql Select emp_id,group,count() from df_tbl1 group by emp_id,group  having count()>=10

In [0]:

#find wmp who were late for 5 or more consecutive days

df1=spark.sql("""
Select
  empoyee_id,
  employee_name,date,arrival_time,status,
  dateadd(day, -rn, date) as group
from
  (
    Select
      *,
      row_number() over(partition by employee_id order by date) as rn, 
      lag(arrival_time,1) over(partition by employee_id order by date) as time_sub
    from
      df_tbl
  ) """)
df1.createOrReplaceTempView("df_tbl1")  
df1.display()
%sql Select emp_id,group,count(*),from df_tbl1 group by emp_id,group  having count()>=10

In [0]:
%sql select employee_id,late_count from (Select employee_id,group,count(1) as late_count from (Select employee_id,date,dateadd(day,-rn,date) as group from (Select employee_id,date,row_number() over(partition by employee_id order by date) as rn from df_tbl where status='Late')  ) group by employee_id,group having count(1)>=5)