In [0]:
data = [(1, "Steven"), (1, "Neena"), (1, "John"), (2, "Peter"), (2,"Bob")]
Schema = "Id int, Name string"
df = spark.createDataFrame(data, Schema)
df.show()

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
df.createOrReplaceTempView("df_new")

In [0]:
%sql

select id, listagg(name, ',') within group (order by id) as name from df_new group by id

In [0]:

df_new = spark.sql("select id, listagg(name, ',') within group (order by id) as name from {table} group by id", table = df)
display(df_new)